button {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 2rem;
  border: 1px solid #ccc;
  border-radius: 3rem;
  width: 6rem;
  height: 6rem;

  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  padding: 5px 10px;
  text-decoration: none;
}
