.calcContainer {
  display: grid;
  grid-template-rows: 10% 10% auto;

  margin: 5rem;
  width: 40rem;
  height: 60rem;

  background-color: #9d5454;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}