.calcContainer {
  position:absolute;
  display: grid;
  grid-template-rows: 15% 15% auto;

  
  width: 25rem;
  height: 40rem;
  border-radius: 2rem;

  background-color: #000000;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}