.display, .displayCalc {
  display: flex;
  justify-content: flex-end;

  padding-right: 2rem;

  color: white;
  background-color: #000000;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}


.display {
  font-size: 2rem;

}